<section id="login" class="container">
  <h1>Welcome back!</h1>
  <h4>Please log in with your account details.</h4>
  <form class="login-form" action="/login" method="post">
    <label for="username">
      <input
        type="text"
        name="username"
        placeholder="Username:"
        class="form-control login-input"
        required
      />
    </label>
    <label for="password">
      <input
        type="password"
        name="password"
        placeholder="Password:"
        class="form-control login-input"
        required
      />
    </label>
    <br />
    <button type="submit" class="btn-primary">Login</button>
  </form>
  <p class="warning-texts">
    <%- typeof errorMessage !== 'undefined' ? errorMessage : "" %>
  </p>
</section>
