<h1>Profile Page</h1>
<div id="personalInfo">
    <h3>Personal Info</h3>
    <img src="#" alt="profile-pic">
    <ul>
        <li>Username: <%- username %></li>
        <li>Email: <%- email %></li>
        <li>Age:</li>
        <li>Gender:</li>
        <li>Weight:</li>
        <li>Height:</li>
        <li>Bio:</li>
    </ul>
</div>
<div id="personalWorkouts">
    <h3>Personal Workouts</h3>
    <ul></ul>
</div>
<a href="/auth/logout">Log Out</a>
