<section id="signup">
  <h4>Ready to get some abs?</h4>
  <form
    action="/signup"
    method="post"
    enctype="multipart/form-data"
    class="signup-form"
  >
    <label for="username">
      <input
        type="text"
        name="username"
        placeholder="Username:"
        pattern="[A-Za-z0-9_]{3,20}"
        title="Username must be 3-20 characters long and contain only letters, numbers, and underscores."
        required
        class="form-control signup-input"
      />
    </label>
    <label for="password">
      <input
        type="password"
        name="password"
        placeholder="Password:"
        pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}"
        title="Password must be at least 8 characters long, and contain at least one letter and one number."
        required
        class="form-control signup-input"
      />
    </label>
    <label for="email">
      <input
        type="email"
        name="email"
        placeholder="Email:"
        pattern="^[\w\-\.]+@([\w-]+\.)+[\w]{2,7}$"
        title="Please enter a valid email address."
        required
        class="form-control signup-input"
      />
    </label>
    <label for="age">
      <input
        type="number"
        name="age"
        placeholder="Age:"
        min="0"
        class="form-control signup-input"
      />
    </label>
    <label for="gender">
      <p>Gender:</p>
      <input type="radio" name="gender" value="male" />Male
      <input type="radio" name="gender" value="female" />Female
      <input type="radio" name="gender" value="other" />Other
    </label>
    <label for="weight">
      <input
        type="number"
        name="weight"
        min="0"
        placehoder="Weight:"
        class="form-control signup-input"
      />
    </label>
    <label for="height">
      <input
        type="number"
        name="height"
        min="0"
        placehoder="Height:"
        class="form-control signup-input"
      />
    </label>
    <label for="bio">
      <textarea
        name="bio"
        placeholder="Bio:"
        id="bio"
        rows="2"
        class="form-control"
      ></textarea>
    </label>
    <label for="imageUrl">
      <p>Profile Pic:</p>
      <input
        type="file"
        name="imageUrl"
        accept="image/png, image/jpg"
        class="form-control"
      />
    </label>
    <br />
    <button type="submit" class="btn-primary">Signup</button>
  </form>
  <p style="color: red">
    <%- typeof errorMessage !== 'undefined' ? errorMessage : "" %>
  </p>
</section>
