<div class="hero-image-container">
  <div class="hero-image-texts">
    <h1>
      <span class="text-background">
        Stay on track,<br />
        the journey to your best self starts with
        <span class="hero-span">FitQuest</span>
      </span>
    </h1>
    <a type="button" class="btn btn-warning index-signup" href="/signup"
      ><b>Start Today</b></a
    ><br />
    <a type="button" class="btn btn-warning index-login" href="/login">Login</a>
  </div>
</div>
