#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.personalInfo {
  display: flex;
  display: flex;
  justify-content: center;
}

.personalInfo-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personalInfo-image-box {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: #fbb03b 1px solid;
  overflow: hidden;
}

.personalInfo-image {
  max-width: 170px;
  height: auto;
  object-position: center center;
  object-fit: cover;
}

.personalInfo-button {
  margin-top: 1rem;
}

.personalInfo-text-box {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.personalInfo-texts li {
  list-style: none;
  margin-bottom: 0.2rem;
}

.personalInfo-username {
  font-size: 1.2rem;
  font-weight: bold;
}

.eachworkout {
  text-align: left;
}

#personalWorkouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#personalWorkouts h3 {
  font-weight: bold;
  color: #fbb03b;
  letter-spacing: 0.1rem;
}

.table-wrapper {
  width: 100%;
  overflow-y: scroll;
  max-height: 30vh;
  max-width: 300px;
}

.workout-card {
  background-color: white;
  border: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.workout-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.workout-card > * {
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* MODALS */

dialog {
  border: none;
}

/* Edit Profile Dialog */
#pop-up {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  max-width: 500px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 1000;
  max-height: 60vh;
  overflow-y: scroll;
}

#pop-up label {
  margin-bottom: 1rem;
}

#pop-up p {
  margin-right: 1rem;
}

.gender-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#pop-up[open] {
  display: block;
}

/* Workout Details Dialog */
#workout-modal {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  max-width: 500px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 1000;
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 60vh;
}

#workout-model h3 {
  font-weight: bold;
}

#workout-modal-content {
  text-align: left;
}

#workout-modal[open] {
  display: block;
}

#workout-modal-content ul {
  list-style: none;
  margin-bottom: 10px;
}

#workout-modal-content h5 {
  color: #fbb03b;
}

/* Buttons */
.delete-workout-button {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.delete-workout-button:hover {
  background-color: #ddd;
  border-color: #f00;
  color: #f00;
}

#workout-modal-close {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#workout-modal-close:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 0 1px #333;
}
