/* Universal settings */
* {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
/* General Settings */

.btn-primary {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 0 1px #333;
}

/* Nav-bar settings */
.navbar {
  padding: 0;
  margin: 0;
  height: 75px;
  background-color: black;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 2.5rem;
}

p {
  margin: 0.8rem 0;
}

.form-control {
  width: 100%;
}

.hero-image-container {
  padding: 0;
  margin: 0;
  height: 80vh;
  /*opacity: 0.8;*/
  background-image: url(https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1894&q=80);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-image-texts {
  position: absolute;
  bottom: 4rem;
}

.hero-image-texts span {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.text-background {
  background-color: black;
}

/* Footer settings */
footer {
  padding: 0;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-texts {
  color: white;
}
