/* Universal settings */
* {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

footer {
  margin-top: auto;
}

/* General Settings */

.btn-primary {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 0 1px #333;
}

/* Nav-bar settings */
.navbar {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 75px;
}

.navbar-brand h3 {
  color: #fbb03b;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.navbar-brand img {
  height: 40px;
  width: 100%;
}

.warning-texts {
  color: darkred;
}

/* hamburger menu settings */
.navbar-toggler-icon {
  filter: invert(100%);
}

.nav-bar-container {
  --bs-gutter-x: 0;
  display: flex;
  align-items: center;
  justify-content: space-around !important;
}

.nav-bar-link-container {
  display: block;
  text-align: center;
}

.nav-link {
  background-color: #2b3035;
  margin: auto;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 2.5rem;
}

p {
  margin: 0.8rem 0;
}

.form-control {
  width: 100%;
}
.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1894&q=80);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 0;
}

.hero-image-texts {
  position: absolute;
  bottom: 10rem;
  left: 10%;
}
.hero-image-texts span {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.text-background {
  background-color: black;
}

.hero-span {
  color: #fbb03b !important;
}

.btn-warning {
  z-index: 1;
  background-color: #fbb03b;
}

/* Footer settings */
footer {
  padding: 0;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-texts {
  color: white;
}
