.workout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 500px;
  max-height: 50vh;
  overflow-y: auto;
}

.modal-content th {
  font-weight: bold;
}

.modal-content h3,
h4 {
  color: #fbb03b;
  font-weight: bold;
}

.workout-notes-heading {
  font-weight: bold;
}

.exercise-summary-title {
  font-weight: bold;
  color: #fbb03b;
}

.exercise-summary-bold {
  font-weight: bold;
}

#workout-notes {
  border-radius: 5px;
  padding: 10px;
}

#searchResults {
  max-height: 20vh;
  overflow-y: auto;
}

.search-result {
  margin-bottom: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.search-result span {
  padding: 0.2rem;
  margin-right: 1rem;
  font-weight: bold;
}

.card {
  margin-bottom: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  position: relative;
}

.card-title {
  color: #fbb03b;
  font-weight: bold;
}

.col {
  font-weight: bold;
  margin-bottom: 1rem;
}

.set-row {
  display: flex;
  align-items: center;
}

#currentWorkout {
  overflow-y: auto;
  max-height: 50vh;
}

/* Buttons */

#finish-workout {
  background-color: #fbb03b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#finish-workout:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 0 1px #fbb03b;
}

.add-exercise {
  background-color: #fbb03b;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 5px 8px;
  margin-left: auto;
}

.add-exercise:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 0 1px #fbb03b;
}

.more-info {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 0.5rem;
  padding: 5px 10px;
  margin-left: 1rem;
}

.more-info:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 0 1px #333;
}
.close-modal {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.close-modal:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 0 1px #333;
}

.add-set-button {
  padding: 10px 10px;
}

.remove-exercise {
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.remove-exercise:hover {
  background-color: #ddd;
  border-color: #f00;
  color: #f00;
}

.delete-set-button {
  font-weight: bold;
  padding: 2.5px 10px;
}
