<div class="container">
  <h1>Workout</h1>
  <form id="searchForm">
    <div class="mb-3">
      <label for="search" class="form-label">Search for exercises</label>
      <input
        type="text"
        class="form-control"
        id="search"
        name="search"
        placeholder="Enter exercise name"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <hr />
  <h2>Search Results</h2>
  <div id="searchResults"></div>
  <hr />
  <h2>Current Workout</h2>
  <div id="currentWorkout"></div>
  <button id="finish-workout">Finish Workout</button>
</div>
